.linkss{
    
         text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
        padding-top: 10px;
    
}
/* Estilos generales */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
.ins{
  
}
h2{
    color: #ddd;
}
.imgs{
    display: flex;
    flex-direction: row-reverse;
}
  
a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(74, 75, 77);
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    
}


.formulario h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.8em;
    color: #ffffff;
}
form h4{
    font-family: cursive;
    color: #ffffff;
}
.grupo {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #666;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ajusta el tamaño de la caja */
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
    border-color: #999;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px;
  }
  
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
 
  input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
/* tablas  */

table {
  width: 100%; 
  border-collapse: collapse; 
  margin: 20px auto; 
 
}


th {
  background-color: #333; 
  color: #fff; 
  padding: 10px; 
  text-align: center;
}


tr {
  border-bottom: 1px solid #ddd; 
}


td {
  padding: 5px; 
  text-align: left; 
  background-color: #333;
  color: #fff;
}
.contenedor-tablas {
    width: 780px; 
    margin: 0 auto;
  }
  
